/*Navigation Section */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation .links {
float: right;
font-family: 'Roboto', sans-serif;
color: #838994;
font-size: 16px;
margin-top: 25px;
-webkit-font-smoothing: antialiased;

}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}


.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.logo {
	height: 70px;
}



/* Intro Section */
.introduction {
    background-image: url('../images/firstbackground.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}



body {
	font-family: 'Roboto', sans-serif;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.big-button{
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width: 9.688rem;
    color: white;
    font-size: 1.125rem;
    background-color: #f15a29;
    border-color: #f15a29;
    display: block;
    margin:0 auto;
}

/* Three Icon Section*/
.cases h2 {
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
    text-align: center;
}

.cases .devices {
    
    display: inline-block;
    /* styles to assist with debugging */
    box-sizing: border-box;
    height: 4em;
    text-align: center;
}

.cases .devices {
	display: flex;
}

ul {
    list-style: none;
}

.cases .devices > li {
    width: 33.3333333%;
    float:left;
}

.caption h3 {
	font-weight: 400;
}